# Dependencies
node_modules
.pnpm-store

# Build outputs
.next
dist
out
.turbo
*.tsbuildinfo

# Environment
.env
.env.local
.env.*.local

# IDE
.idea
.vscode
*.swp
.DS_Store

# Testing
coverage

# Expo
.expo
*.jks
*.p8
*.p12
*.mobileprovision

# Supabase
supabase/.branches
supabase/.temp

# Debug
npm-debug.log*
pnpm-debug.log*

# Vercel
.vercel
